:root {
  --main-font: "Inter";
  --header-font-weight: 600;
  --list-font-weight: 400;
}

body {
  margin: 0;
}

p,
.hand-title,
.header {
  font-family: var(--main-font);
  font-weight: var(--header-font-weight);
}

.hand-title {
  display: flex;
  align-self: self-start;
}

li {
  font-family: var(--main-font);
  font-weight: var(--list-font-weight);
  line-height: 2em;
}

li:not(.header) {
  color: #61c554;
}

.header {
  font-size: 1em;
}

hr {
  margin-bottom: 4rem;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.services {
  display: flex;
  gap: 3em;
}
