:root {
  --main-font: "Inter";
  --header-font-weight: 600;
  --list-font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
.hand-title,
.header {
  font-family: var(--main-font);
  font-weight: var(--header-font-weight);
}

.hand-title {
  display: flex;
  align-self: self-start;
  flex: 0.2;
}

li {
  font-family: var(--main-font);
  font-weight: var(--list-font-weight);
  line-height: 2.3em;
}

li a {
  color: #61c554;
}

a {
  text-decoration: none;
}

.header {
  font-size: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid grey;
  padding-top: 3.6em;
}

.services {
  display: flex;
  flex: 0.6;
  gap: 4.4em;
}
